html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ==========home=========== */

.home,
.signin {
    width: 100%;
    height: 100vh;
    position: relative;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0.5) 60%, rgba(0, 0, 0, 0.8) 100%), url(images/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-left: 13%;
}

.btn {
    padding: 9px 17px;
    color: white;
    background-color: red;
    outline: none;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
}

.button {
    margin-right: 13%;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    color: white;
    position: absolute;
    text-align: center;
    margin-bottom: 75px;
}

.heading {
    font-size: 3.2rem;
    font-weight: 200;
}

.heading2 {
    font-size: 1.5rem;
    margin-top: -15px;
}

.home_para {
    font-size: 1.4rem;
}

.email_container {
    text-align: center;
    width: 100%;
}

.email {
    margin-top: 30px;

}

.enter_email {
    padding: 13.4px 15px;
    width: 43%;
    font-size: 1.1rem;
    margin-right: 7px;
    color: white;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.342);
    border: 2px solid rgba(78, 76, 76, 0.781);
}

.btn2 {
    width: 20%;
    padding: 11px 0px;
    height: 51px;
    font-size: 1.3rem;
    border: 2px solid red;
    background-color: red;
    color: white;
    border-radius: 5px;
}

/* ===========Features=========== */

.tv {
    width: 100%;
    height: 82vh;
    color: white;
    background-color: black;
}

.line {
    width: 100%;
    height: 7px;
    background-color: #232323;
}

.tv_container {
    height: 100%;
    width: 100%;
    display: flex;
}

.left {
    width: 53%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 180px;
    padding-top: -50px;
}

.heading3 {
    font-size: 3.5rem;
    margin-bottom: 12px;
}

.para {
    line-height: 25x;
    font-size: 25px;
}

.right {
    width: 44%;
    position: relative;
    /* background-color: blue; */
}

.right img {
    position: relative;
    width: 85%;
    padding-top: 94px;
    padding-right: 3px;
    z-index: 1;

}

.video {
    height: 210px;
    position: absolute;
    top: 170px;
    left: 60px;
    object-fit: cover;

}


.different {
    margin-top: 140px;
}

.image {
    height: 350px;
    margin-right: 20px;
    margin-bottom: 20px;
}

/* ===========Sign in========== */

.signin_logo img {
    margin-top: 20px;
    margin-left: 30px;
    width: 170px;
}